---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const BASE_URL = '/cafe-sans-fil/';

import contributors from '../data/contributors.json';
import roadmap from '../data/roadmap.yml';

const developers = contributors.filter(c=>c.role!=="tester");
const testers = contributors.filter(c=>c.role==="tester");

let cafes = []
try {
	const response = await fetch('https://api.cafesansfil.ca/v1/cafes/');
	if (!response.ok){
		throw new Error("Bad response when fetching cafes", { cause: { response }})
	}
	cafes = await response.json();	
} catch (error) {
	console.log(error)
} 
---

<Layout title="Projet Café sans-fil">
	<main>
		<header>
			<div class="logo-wrapper">
				<img class="logo" src={`logo.png`} height="60" alt="">
			</div>
	
			<ul class="bare-list cafes">
				{ cafes.items.map((cafe) => (
				<li class="cafe" style={{background: `url(${cafe['banner_url']}) 100%/cover no-repeat;`}}>
					{cafe['name']}
				</li>
				))}
			</ul>
			
			<p class="intro">
				<strong>Café sans-fil</strong> est un <b>projet pilote</b> visant à <b>améliorer le service des cafés étudiants de l'UdeM</b>. 
				Les cafés étudiants donnent accès à un espace de socialisation et de la nourriture à prix abordable,
				enrichissant la vie de campus des étudiants. 
				Toutefois, l'infrastructure actuelle ne facilite pas l'accès à l'information et alourdit la gestion des cafés. <br>
				Nous proposons une plateforme commune facilitant la gestion des cafés, leur découverte, la communication de leurs
				produits et la prise de commande. 
			</p>
	
			<ul role="list" class="bare-list link-card-grid">
				<Card
					href="https://admin.cafesansfil.ca/"
					title="Application"
					preview=true
					body="Plongez dans l'univers des cafés étudiants de l'UdeM et passez une commande."
				/>
				<Card
					href="https://api.cafesansfil.ca/docs"
					title="API"
					preview=true
					body="Intégrez votre application à l'API de Café sans-fil. Explorez la documentation."
				/>
				<Card
					href="https://github.com/ceduni/cafe-sans-fil"
					title="Répertoire"
					body="Suivez le développement du projet sur GitHub. Partagez vos suggestions."
				/>
				<!-- <Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/> -->
			</ul>
		</header>

		<section class="feature-section">
			<h2>Fonctionnalités</h2>
			<p>
				Café sans-fil est accessible au grand public et offrent des fonctionnalités particulières aux membres de l'UdeM (étudiant, employé, professeur, chercheur, etc.), 
				aux bénévoles des cafés (étudiants travaillant au café) et aux gérants des cafés.
			</p>

			<ul class="bare-list features">
				<li class="feature-group">
					<h3>Grand public</h3>
					<p>Café sans-fil permet à tous d'explorer et découvrir les cafés étudiants et ce qu'ils offrent.</p>
				</li>
	
				<li class="feature-group">
					<h3>Membre</h3>
					<p>
						Café sans-fil permet aux membres de l'UdeM de placer des commandes pour ramassage, les
						permettant de gagner du temps.
					</p>
				</li>
	
				<li class="feature-group">
					<h3>Bénévole</h3>
					<p>
						Café sans-fil permet aux bénévoles de café de traiter les commandes reçues et modifier le menu de leur café.
					</p>
				</li>
	
				<li class="feature-group">
					<h3>Gérant</h3>
					<p>
						Café sans-fil permet aux gérants de café de gérer efficacement leur café et leur fournit des rapports de vente synthétisant l'activité du café.
					</p>
				</li>
			</ul>
		</section>

		<section class="contributor-section">
			<div class="content-wrapper">
				<h2 class="section-title">Tout le monde</h2>

				<div class="section-content">
					<!-- <div class="contributor-section-roadmap">
						<ul class="bare-list timeline">
							{roadmap.map((phase) => (
								<li class="phase">
									<h4 class="phase-title" title={phase.theme}>{phase.phase}</h4>
									<ul class="bare-list milestones">
										{phase.milestones.map((milestone) => (
											<li class:list={["milestone", "fit-content", { release: milestone.release}, { current: milestone.current}]}>
												{milestone.title}
											</li>
										))}
									</ul>
								</li>
							))}
						</ul>
					</div> -->

					<div class="contributor-section-team">
						<!-- <h3 class="contributor-section-team-title">Tout le monde</h3> -->
						<!-- <p class="section-intro">
							Notre équipe est composé d'étudiants et finissants en informatique.
						</p> -->
						<ul class="bare-list contributors developers">
							{developers.map((contributor) => (
							<li class="contributor">
								<img class="contributor-img" src={`${contributor.photo}`} alt={`Photo de ${contributor.name}`}>
								<h4 class="contributor-name">
									<a href={contributor.email}>{contributor.name}</a>
								</h4>
								<span class="contributor-role">{contributor.title}</span>
							</li>
							))}
						</ul>

						<h4 style="font-size: 2rem">Le CADUM</h4>
						<ul class="bare-list contributors developers">
							<li class="contributor">
								<img class="contributor-img" src="https://cadum.aediroum.ca/jalal.jpg">
								<h4 class="contributor-name">
									<a href="https://www.linkedin.com/in/jalal-fatouaki/">Jalal Fatouaki</a>
								</h4>
							</li>
							<li class="contributor">
								<img class="contributor-img" src="https://cadum.aediroum.ca/william.jpeg">
								<h4 class="contributor-name">
									<a href="https://www.linkedin.com/in/william-hayward-45016134b/">William Hayward</a>
								</h4>
							</li>
							<li class="contributor">
								<img class="contributor-img" src="https://media.istockphoto.com/id/1223671392/vector/default-profile-picture-avatar-photo-placeholder-vector-illustration.jpg?s=612x612&w=0&k=20&c=s0aTdmT5aU6b8ot7VKm11DeID6NctRCpB755rA1BIP0=">
								<h4 class="contributor-name">
									<a href="https://www.linkedin.com/in/dthierno">Thierno Diallo</a>
								</h4>
							</li>
						</ul>

						<h4 style="font-size: 2rem">Les testeurs 🫶</h4>
						<ul class="bare-list contributors testers">
							{testers.map((contributor) => (
							<li class="contributor">
								<img class="contributor-img" src={`${contributor.photo}`} alt={`Photo de ${contributor.name}`}>
								<p class="contributor-name">
									<a href={contributor.email}>{contributor.name}</a>
								</p>
							</li>
							))}
						</ul>

						<a class="btn btn-email" href="mailto:louis.edouard.lafontant@umontreal.ca">
							Tu veux contribuer?
						</a> 
					</div>
				</div>
			</div>
		</section>

		<section class="specs-section">
			<h2>Infrastructure</h2>

			<div class="stack">
				<div class="stack-item">
					<h3 class="stack-title">Base de données: MongoDB</h3>
					<p>
						<a href="https://www.mongodb.com/" target="_blank">MongoDB</a> est utilisé pour stocker et
						gérer les données des cafés et des utilisateurs. Sa structure simple et flexible
						nous permet d'adapter facilement la base de données à la spécificité de chaque café.
					</p>
				</div>

				<div class="stack-item">
					<h3 class="stack-title">API: FastAPI</h3>
					<p>
						<a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a> (framework Python) est utilisé pour 
						développer l'API traitant les requêtes de l'application et manipulant la base de données.
						L'API est publique, permettant une communication en dehors de l'application web.
					</p>
				</div>

				<div class="stack-item">
					<h3 class="stack-title">Application web: React + <span style="display: inline-block">Tailwind CSS</span></h3>
					<p>
						L'application web est construite sous forme de single page application (SPA)
						avec principalement les librairies <a href="https://react.dev/" target="_blank">React</a> et 
						<a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>.
					</p>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex; flex-direction: column;
	}

	header {
		margin: auto;
		padding-top: 24px; padding-bottom: 60px;
		padding-left: 2vw; padding-right: 2vw;
		width: calc(100% - 2rem);
		max-width: 1000px;
		color: white;
		font-size: 1.4em;
		line-height: 1.5;
	}
	
	@media screen and (min-width: 54em) {
		header {
			font-size: 1.5em;
		}
	}

	.cafes {
		position: fixed;
		top: 0; left: 2rem; right: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		z-index: -1;
	}

	.cafe {
		display: flex; 
		margin: 12px;
		height: 90px;
		width: 135px;
		font-weight: 500; font-size: 1.3rem;
		border: 6px solid #fff;
		color: rgb(44, 94, 180);
		border-radius: 1px;
		opacity: 0.15;
	}
	
	@media screen and (min-width: 54em) {
		.cafe {
			height: 120px;
			width: 180px;
		}
	}

	.logo-wrapper {
		margin: 0 auto;
		padding: 12px;
		height: 150px; width: 150px;
		box-shadow: inset 0 2px 4px #555;
		background: linear-gradient(#f2f1f0, #fff);
		border-radius: 50%;
	}
		
		.logo {
			height: 100%;
			width: auto;
		}

		@media screen and (min-width: 54em) {
			.logo-wrapper {
				height: 180px; width: 180px;
			}
		}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		margin-top: 0; margin-bottom: 1em;
		font-size: 3rem; font-weight: 700;
		line-height: 1;
	}
	h3 {
		font-size: 2.2rem;
		font-weight: 800;
		line-height: 1;
		margin-bottom: 1em;
	}

	h4 {
		font-size: 1.8rem;
		margin-bottom: 0.5em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.intro {
		margin-top: 24px;
		text-align: justify;
		text-shadow: 1px 1px 2px #000;
	}

	.intro strong {
		color: rgb(var(--accent-light));
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.feature-section {
		position: relative;
		padding-top: 24px; padding-bottom: 30px;
		padding-left: 3vw; padding-right: 3vw;
		max-width: 1200px;
		color: #fff;
		overflow: hidden;
	}

	.feature-section > p {
		padding-right: 60px;
		font-size: 1.8rem;
		text-align: justify;
		line-height: 1.5;
	}

	.feature-section:after {
		content: "";
		position: absolute;
		top: 4vw; right: 4vw;
		width: 8vw; height: 8vw;
		max-width: 60px; max-height: 60px;
		border-radius: 50%;
		box-shadow:  0 0 0 2000px rgb(var(--accent));
		z-index: -1;
	}

	@media screen and (min-width: 54em) {
		.feature-section {
			padding-left: 5vw; padding-right: 5vw;
		}
	}

	@media screen and (min-width: 72em) {
		.feature-section {
			border-top-right-radius: 60px;
		}
	}

	.features {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
		gap: 1.5rem;
		padding: 0;
	}

	.feature-group {
		background-color: rgb(var(--accent-dark));
		padding: 12px 2rem 6px;
		border-radius: 12px;
	}
		.feature-group h3 {
			margin: 0;
		}

		.feature-group p {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	
	.contributor-section {
		position: relative;
		overflow: hidden;
	}
	
		.contributor-section:before {
			content: "";
			position: absolute;
			bottom: 120px; right: 120px;
			width: 60px; height:  60px;
			border-radius: 50%;
			box-shadow: 0 0 0 20px rgb(var(--accent-red)), 0 0 40px #fff; 
			z-index: -1;
		}

		.contributor-section:after {
			content: "";
			position: absolute;
			bottom: -120px; right: -120px;
			width: 240px; height: 240px;
			border-radius: 50%;
			box-shadow: 0 0 0 40px rgb(var(--accent-dark)); 
			z-index: -1;
		}

		.contributor-section .section-content {
			display: flex; flex-direction: column;
		}

		.contributor-section-roadmap {
			margin-bottom: 30px	
		}

		.contributor-section-team {
			flex-grow: 1; 
			display: flex; flex-direction: column
		}

		.contributor-section-team-title {
			display: inline-block; background: #232425; color: #fff; padding: 8px 12px; margin: 0 auto 24px
		}

	section .content-wrapper {
		position: relative;
		padding-top: 24px; padding-bottom: 30px;
		padding-left: 3vw; padding-right: 3vw;
		max-width: 1200px;
		background-color: #fbfbfb;
	}

	@media screen and (min-width: 48em) {
		.contributor-section .section-content {
			display: flex; flex-direction: row;
		}

		.contributor-section-roadmap {
			margin-bottom: 0;
			margin-right: 24px;
		}
	}

	@media screen and (min-width: 54em) {
		section .content-wrapper {
			padding-left: 5vw; padding-right: 5vw;
		}
	}

	.section-intro {
		font-size: 1.7em;
		line-height: 1.5;
	}

	.timeline {
		display: flex; flex-direction: column;
	}

	.phase {
		position: relative;
		padding-top: 40px;
		padding-bottom: 6px;
	}

		.phase-title {
			position: absolute;
			margin: 0;
			top: 0; left: 0;
			font-size: 1em; font-weight: 300;
			color: #fff;
			padding: 5px 1em 6px 1.5em;
			border-top-right-radius: 180px;
			border-bottom-right-radius: 180px;
			background-color: rgb(var(--accent-light));
		}

		.phase:before {
			content: "";
			position: absolute;
			left: 0; top: 0;
			height: 12px;
			width: 18px;
			background-color: rgb(var(--accent-light));
		}
		.phase:after {
			content: "";
			position: absolute;
			left: 0; top: 0;
			height: 100%;
			width: 4px;
		}
		
		
		.phase:nth-child(1):after,
		.phase:nth-child(1) .phase-title,
		.phase:nth-child(1) .milestone,
		.phase:nth-child(1) .milestone:before,
		.phase:nth-child(1) .milestone:after {
			background-color: rgb(var(--accent-light));
		}
		
		.phase:nth-child(2):after,
		.phase:nth-child(2) .phase-title,
		.phase:nth-child(2) .milestone,
		.phase:nth-child(2) .milestone:not(.current):before,
		.phase:nth-child(2) .milestone:after {
			background-color: rgb(var(--accent));
		}

		.phase:nth-child(3):after,
		.phase:nth-child(3) .phase-title,
		.phase:nth-child(3) .milestone,
		.phase:nth-child(3) .milestone:not(.current):before,
		.phase:nth-child(3) .milestone:after {
			background-color: rgb(var(--accent-red));
		}

	.milestones {
		display: flex;	
		flex-direction: column;
		align-items: flex-start;
	}

	.milestone {
		display: block;
		margin-bottom: 6px;
		padding: 4px 2% 5px;
		color: #fff;
		font-size: 1.4rem;
		background-color: rgb(var(--accent-light));
		border-radius: 2px;
	}
		.milestone.release {
			font-weight: bold;
		}

		.milestone a {
			color: inherit;
		}

	.milestone:nth-child(odd) {
		margin-left: 60px;
	}
	.milestone:nth-child(even) {
		margin-left: 40px;
	}

	.milestone:before {
		content: "";
		position: absolute;
		left: -6px;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		z-index: 2;
	}
	.milestone.release:before {
		border-radius: 2px;
	}  

	.milestone:after {
		content: "";
		position: absolute;
		left: 0;
		margin-top: 6px;
		height: 3px;
		width: 60px;
		
		z-index: 1;
	}
	.milestone:nth-child(even):after {
		width: 40px;
	}

	.milestone.current:before {
		height: 12px;
		width: 12px;
		background-color: #fff;
		border: 3px solid rgb(var(--accent));
		z-index: 2;
	}

	@media screen and (min-width: 48em) {
		.milestone {
			max-width: 240px;
		}

		.phase:last-child:after {
			height: 100vh;
		}
	}

	.contributors {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.testers {
		display: flex;
		margin-top: 12px;
	}

		.testers .contributor {
			max-width: 120px;
		}

		.testers .contributor-img {
			border-radius: 180px;
		}

		@media screen and (min-width: 54em) {
			.testers .contributor {
				max-width: 150px;
			}
		}

	.contributor {
		display: flex; flex-direction: column; align-items: flex-start;
		max-width: 200px;
		line-height: 1.35;
	}
		.contributor:not(:last-child) {
			margin-right: 4%;
		}

	.btn-email {
		display: block;
		margin: 24px auto 0;
		padding: 8px 12px; border-radius: 2px;
		width: 240px;
		font-size: 2rem; font-weight: 700;
		color: #fff;
		border-radius: 3px;
		background-color: rgb(var(--accent-red));
	}
		.btn-email:hover {
			background-color: #232425;
		}

	.contributor-img {
		height: auto;
		width: 100%;
		border-radius: 8px;
	}

	.contributor-name {
		margin-top: 0.5rem; margin-bottom: 0;
		font-weight: bold;
		font-size: 1.7rem;
		font-family: Consolas;
		letter-spacing: 0.3px;
		text-transform: capitalize;
		color: rgb(var(--accent-dark));
	}
		.contributor-name a {
			color: rgb(var(--accent-dark));
		}

	.contributor-role {
		font-weight: 500;
	}

	.contributor-work {
		font-size: 0.9em;
	}

	.specs-section {
		position: relative;
		padding-top: 24px;
		padding-left: 5%; padding-right: 5%;
		background: linear-gradient(#232425,  #232425e3);
		color: #f5f5f5;
	}

	.stack {
		display: flex;
		flex-direction: column;
	}

	.stack-title {
		margin-top: 0;
		line-height: 1.35;
	}

	.stack-item {
		flex: 1 1;
		padding: 18px 2% 12px;
		background-color: #1b1b1b;
		border-radius: 12px;
		margin-bottom: 24px;
	}

		.stack-item a {
			position: relative;
			color: #fff;
			font-weight: 500;
		}
		.stack-item a:after {
			content: "";
			position: absolute;
			left: 0; right: 0; bottom: -1px;
			height: 2px;
			background-color: currentColor;
		}

		.stack-item p {
			line-height: 1.5;
			font-size: 1.7em;
		}

	@media screen and (min-width: 54em) {
		.stack {
			flex-direction: row;
		}

		.stack-item {
			margin-right: 18px;
		}
	}		
</style>
